[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-bdd = "*"
pytest = "*"
pytest-html = "*"
requests-mock = "*"
requests = "*"

[dev-packages]

[scripts]
test = "pipenv run pytest"

[requires]
python_version = "3.11"
